@{
    ViewBag.Title = "CategoryAdd";
}

<link rel="stylesheet" href="../../../Content/FormValidationStyles.css" />

<div id="categoryAccountForm" style="padding: 10px">
   <form name="CategoryEditForm" class="form-horizontal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="windowClose('CategoryEdit')">&times;</button>
            <h4 class="modal-title">@R.R.Edit</h4>
        </div>

        <div class="modal-body">
            <div class="form-group">
                <label for="name" class="control-label col-sm-2">Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="name" name="name" required
                           value="{{newCategory.Name}}"
                           ng-required ="true"
                           ng-minlength="1"
                           ng-maxlength="15"
                           ng-pattern="/^[A-Z]+[a-z]*[0-9]*/"
                           ng-model="newCategory.Name"
                           ng-class="{'valid':CategoryEditForm.name.$valid,
                                      'invalid':CategoryEditForm.name.$invalid,
                                      'required':CategoryEditForm.name.$error.required}" />
                    
                    <p class="warn" ng-show="CategoryEditForm.name.$error.required">Account name required!</p>
                    <div ng-if="CategoryEditForm.name.$invalid && CategoryEditForm.name.$dirty">
                        <p ng-if="CategoryEditForm.name.$error.pattern" class="error">Name should start from uppercase letter.</p>
                        <p ng-if="CategoryEditForm.name.$error.minlength" class="error">Name should has one character at least.</p>
                        <p ng-if="CategoryEditForm.name.$error.maxlength" class="error">Name should has up to 50 characters long.</p>
                    </div>
                </div>
            </div>
           

            <div class="form-group">
                <label for="description" class="control-label col-sm-2">Description:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="description" name="description"
                           value="{{newCategory.Description}}" 
                           ng-maxlength="50"
                           ng-model="newCategory.Description" 
                           ng-class="{'valid':CategoryEditForm.description.$valid,
                                      'invalid':CategoryEditForm.description.$invalid,
                                      'required':CategoryEditForm.description.$error.required}"/>
                   
                    <div ng-if="CategoryEditForm.description.$invalid && CategoryEditForm.description.$dirty">
                        <p ng-if="CategoryEditForm.description.$error.maxlength" class="error">Description should had up to 50 characters long.</p>
                    </div>
                </div>
            </div>
        </div>
     
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="categoryEdit(newCategory)">@R.R.Save</button>
        </div>
    </form>
</div>
