@{
    ViewBag.Title = S.Projects;
}

<div ng-app="app">
    <div ng-view>

    </div>
</div>

<script src="~/Scripts/app/projectApp.js"></script>

<script src="~/Scripts/app/controllers/projectCtrl.js"></script>
<script src="~/Scripts/app/services/projectService.js"></script>
<script src="~/Scripts/app/services/projectMemberService.js"></script>

<script src="~/Scripts/app/controllers/memberCtrl.js"></script>
<script src="~/Scripts/app/services/memberService.js"></script>

<script src="~/Scripts/app/controllers/projectTaskCtrl.js"></script>
<script src="~/Scripts/app/services/projectTaskService.js"></script>
<script src="~/Scripts/app/services/projectTaskCommentService.js"></script>

<script src="~/Scripts/app/controllers/financeCtrl.js"></script>
<script src="~/Scripts/app/services/financeService.js"></script>

<script src="~/Scripts/app/controllers/memberDayReportCtrl.js"></script>
<script src="~/Scripts/app/services/memberDayReportService.js"></script>

<script src="~/Scripts/app/controllers/currencyCtrl.js"></script>
<script src="~/Scripts/app/services/currencyService.js"></script>

<script src="~/Scripts/app/controllers/memberPaymentCtrl.js"></script>
<script src="~/Scripts/app/services/memberPaymentService.js"></script>

<script src="~/Scripts/app/services/pdfService.js"></script>

<script src="~/Scripts/app/controllers/memberMotionsCtrl.js"></script>
<script src="~/Scripts/app/services/memberMotionsService.js"></script>

<script src="~/Scripts/app/controllers/debtsCtrl.js"></script>
<script src="~/Scripts/app/services/debtsService.js"></script>

<script src="~/Scripts/app/services/emailService.js"></script>