@{
    ViewBag.Title = S.Projects;
}

<div ng-app="MyOffice.app">
    <div ng-view>

    </div>
</div>

<script src="~/Scripts/angular-ase.com.ua.js"></script>
<script src="~/Scripts/dis.js"></script>